<header id="home">
    <div>
        <nav class="navbar navbar-expand-sm">
           <div class="menu-icon">
             <a><i class="fas fa-bars"></i></a>
           </div>
            <div class="navbar-header">
                <a href="#home" class="navbar-brand"><img src="assets/images/tne-logos/tne_main_logo_sm.png" alt="logo"></a>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item user-right">
                  <a class="nav-link" href="#"><i class="fa fa-users users-menu"></i></a>
                  <ul class="nav-user">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Log out</a>
                    </li>
                  </ul>
                </li>
              </ul>
        </nav>
        
    </div>
</header>