<div class="container">
	<div class="frame-singup">
		<div class="row">
				<div class="col-xs-12 col-md-5 slim-singup">
					<div class="vertical vertical-left-singup">
						<h1 class="left-singup-title">Welcome Back!</h1>
						<h5>
							To keep connected with us please <br>
							login with your personal info
						</h5>
						<input type="button" name="" class="btn btn-signin btn-signin_animate"  value="SIGN IN" >
					</div>
				</div>
				<div class="col-xs-12 col-md-7 fat-singup" >
					<div class="vertical vertical-right-singup">
						<h1 class="right-singup-title">Create Account</h1>
						<form method="post" action="">
							<ul>
								<li>
									<span class="input-group-addon fa fa-user"></span>
									<input type="text" class="forms" name="form-name" id="form-name" placeholder="Name">
								</li>
								<li>
									<span class="input-group-addon fa fa-envelope"></span>
									<input type="text" class="forms" name="form-email" id="form-email" placeholder="Email">	
								</li>
								<li>
									<span class="input-group-addon fa fa-lock"></span>
									<input type="text" class="forms" name="form-pass" id="form-pass" placeholder="Password">	
								</li>
							</ul>
							<input type="submit" value="SIGN UP" class="btn btn-signup" id="btn-signup-responsive_right">
						</form>
						<input type="button" id="btn-signin-responsive_right" class="btn btn-signin btn-signin_animate--responsive"  value="GO TO - SIGN IN" >
					</div>
				</div>
			
		</div><!-- end row -->
	</div> <!-- end frame-->

	<div class="frame-singin">
		<div class="row">
				<div class="col-xs-12 col-md-7 fat-singin">
					<div class="vertical vertical-left-singin">
						<h1 class="singin-title">Sing In</h1>
						<form method="post" action="" class="singin-form">
							<ul>
								<li>
									<span class="input-group-addon input-group-addon-singin fa fa-envelope"></span>
									<input type="text" class="forms" name="form-email" id="form-email" placeholder="Email">	
								</li>
								<li>
									<span class="input-group-addon input-group-addon-singin fa fa-lock"></span>
									<input type="text" class="forms" name="form-pass" id="form-pass" placeholder="Password">	
								</li>
								<li>

									<a routerLink="/forgot-pass.html" class="f-pass">Forgot your password??</a>
								</li>
							</ul>
							<input type="submit" value="SIGN IN" class="btn btn-signin" id="btn-signin-responsive">
						</form>
						<input type="button" id="btn-signup-responsive" class="btn btn-signup btn-signup_animate--responsive"  value="GO TO - SIGN UP" >
					</div>
				</div>
				<div class="col-xs-12 col-md-5 slim-singin">
					<div class="vertical vertical-right-singin">
						<h1 class="singup-title">Hello Friends!</h1>
						<h5 class="singup-subtitle">
							Enter your personal details <br>
							and start journey whit us.
						</h5>

						<input type="button" name="" class="btn btn-signup btn-signup_animate "  value="SIGN UP" >

						<input type="button" name="" class="btn btn-signup btn-signup_animate--responsive"  value="SIGN UP" >
						<input type="button" name="" class="btn btn-signin btn-signin_animate--responsive"  value="SIGN IN" >
					</div>
				</div>
			
		</div><!-- end row -->
	</div> <!-- end frame-->
</div><!-- end container -->