<div class="container">
	<div class="frame-forgot">
		<div class="row">
				<div class="col-xs-12 col-md-5 slim-forgot">
					<div class="vertical vertical-left-forgot">
						<h1 class="left-forgot-title">Welcome Back!</h1>
						<!-- <h5>
							To keep connected with us please <br>
							login with your personal info
						</h5> -->
						<input type="button" name="" class="btn btn-signin btn-signin_animate"  value="SIGN IN" >
					</div>
				</div>
				<div class="col-xs-12 col-md-7 fat-forgot" >
					<div class="vertical vertical-right-forgot">
						<h1 class="right-forgot-title">Forgot Password</h1>
						<h5>
							Please enter the email or mobile number associated with your account
						</h5>
						<form method="post" action="">
							<ul>
								<li>
									<span class="input-group-addon fa fa-envelope"></span>
									<input type="text" class="forms" name="form-email" id="form-email" placeholder="Email">	
								</li>
								<li>
									<span class="input-group-addon fas fa-mobile-alt"></span>
									<input type="text" class="forms" name="form-pass" id="form-pass" placeholder="Mobile number">	
								</li>
							</ul>
							<input type="submit" value="SUBMIT" class="btn btn-signup" id="btn-signup-responsive_right">
						</form>
					</div>
				</div>
			
		</div><!-- end row -->
	</div> <!-- end frame-->
</div><!-- end container -->